/* src/styles/navbar.css */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 18px 0;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  height: 80px;
}

.navbar.active {
  backdrop-filter: blur(16px);
  background: var(--primary); /* Cor de fundo branca */
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo img {
  height: 50px;
  width: auto;
  transition: all 0.3s ease;
}

.nav-links {
  display: flex;
  gap: 40px;
  font-weight: 500;
}

.nav-links a {
  color: rgb(0, 0, 0); /* Cor inicial (fundo escuro) */
  transition: color 0.3s ease;
}

/* Quando navbar está ativa (fundo branco) */


.nav-links a:hover {
  color: var(--secondary);
}

/* Mobile */
@media(max-width: 768px) {
  .nav-links {
    display: none; /* Em uma implementação real, aqui entraria o estado do menu */
  }
}